<div class="chat-container">
  <div class="friends-list">
    <nz-list [nzDataSource]="friends">
      <nz-list-item *ngFor="let friend of friends" (click)="selectFriend(friend)">
        <nz-avatar nzIcon="user" nzSize="small" nzSrc="{{ friend.avatar }}"></nz-avatar>
        <span>{{ friend.name }}</span>
      </nz-list-item>
    </nz-list>
  </div>
  
  <div class="chat-area">
    <div class="chat-messages">
      <nz-list>
        <nz-list-item *ngFor="let message of messages">
          <div [ngClass]="{ 'message-left': message.user !== 'You', 'message-right': message.user === 'You' }">
            <ng-container *ngIf="message.text">
              <strong>{{ message.user }}:</strong> {{ message.text }}
            </ng-container>
            <!-- <ng-container *ngIf="message.imageUrl">
              <strong>{{ message.user }}:</strong> 
              <img [src]="message.imageUrl" class="chat-image"/>
            </ng-container> -->
          </div>
        </nz-list-item>
      </nz-list>
    </div>
    
    <div class="message-input">
      <input nz-input [(ngModel)]="newMessage" placeholder="Type your message...">
      <!-- <input type="file" (change)="sendImage($event)" /> -->
      <button nz-button nzType="primary" (click)="sendMessage()">Send</button>
    </div>
  </div>
</div>