<nz-card>
  <div class="table-container">
    <nz-table #businessTable nzBordered [nzData]="listOfData">
      <thead>
        <tr>
          <th>Business Name</th>
          <th>Tax code</th>
          <th>Address</th>
          <th>Phone Number</th>
          <th>Email</th>
          <th>Hotel</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let business of businessTable.data" class="editable-row">
          <td>
              {{ business.name }}
          </td>
          <td>
              {{ business.tax_code }}
          </td>
          <td>
              {{ business.address }}
          </td>
          <td>
              {{ business.contact.phone }}
          </td>
          <td>
              {{ business.contact.email }}
          </td>
          <td>
            <div *ngFor="let hotel of availableHotels">
              {{ hotel.name }}
            </div>
          </td>
          <td>
            <button nz-button nzShape="round" (click)="startEdit(business._id)" nzType="default" *ngIf="editId !== business._id">
              <i nz-icon nzType="edit"></i>Edit
            </button>
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteBusiness(business._id)" *ngIf="editId !== business._id">
              <button nz-button nzShape="round" nzType="text" [nzDanger]="true">
                <i nz-icon nzType="delete"></i>Delete
              </button>
            </a>
            <button nz-button nzShape="round"  (click)="stopEdit()" nzType="default" *ngIf="editId === business._id" type="submit">
              <i nz-icon nzType="save"></i>Cancel</button>
          </td>
        </tr>
      </tbody>
    </nz-table>

    <!-- Form for Creating a New Business -->
    <form nz-form [formGroup]="businessForm" (ngSubmit)="selectedBusiness ? updateBusiness() : createBusiness()">
      <nz-form-item>
        <nz-form-label [nzSpan]="24" [nzSm]="8">Business name</nz-form-label>
        <nz-form-control nzErrorTip="Please enter your business name" [nzSpan]="24" [nzSm]="16">
          <input placeholder="Enter your business name" nz-input formControlName="name" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="24" [nzSm]="8">Tax code </nz-form-label>
        <nz-form-control nzErrorTip="Please enter your tax code" [nzSpan]="24" [nzSm]="16">
          <input placeholder="Enter your tax code" nz-input formControlName="tax_code" type="number"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="24" [nzSm]="8">Address</nz-form-label>
        <nz-form-control nzErrorTip="Please enter your address" [nzSpan]="24" [nzSm]="16">
          <input placeholder="Enter your address" nz-input formControlName="address" />
        </nz-form-control>
      </nz-form-item>
      <!-- Contact Group -->
      <nz-form-item formGroupName="contact">
        <nz-form-label [nzSpan]="24" [nzSm]="8">Phone Number</nz-form-label>
        <nz-form-control nzErrorTip="Please enter your phone number" [nzSpan]="24" [nzSm]="16">
          <input placeholder="Enter your phone number" nz-input formControlName="phone" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item formGroupName="contact">
        <nz-form-label [nzSpan]="24" [nzSm]="8">Email</nz-form-label>
        <nz-form-control nzErrorTip="Please enter your email" [nzSpan]="24" [nzSm]="16">
          <input placeholder="Enter your email" nz-input formControlName="email" type="email"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="24" [nzSm]="8">Hotel</nz-form-label>
        <nz-form-control nzErrorTip="Please enter your hotel"[nzSpan]="24" [nzSm]="16">
          <nz-select formControlName="hotels" nzMode="multiple" nzPlaceHolder="Chọn khách sạn">
            <nz-option *ngFor="let hotel of availableHotels" [nzValue]="hotel._id" [nzLabel]="hotel.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzSpan]="24" [nzOffset]="0">
          <button nz-button nzType="primary" type="submit">{{selectedBusiness ? 'Update your business' : 'Create a Business'}}</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</nz-card>
              
            
