.nz-form-item {
  display: flex;
  flex-direction: column;
}

.nz-form-label {
  margin-bottom: 8px;
}

.nz-form-control {
  flex: 1;
}

@media (max-width: 767px) {
  .nz-form-item {
    margin-bottom: 12px;
  }

  .nz-form-label, .nz-form-control input {
    font-size: 14px;
  }

  button {
    width: 100%;
    font-size: 14px;
  }
}

.editable-cell {
  position: relative;
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}

.table-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* Cải thiện hiệu suất cuộn trên thiết bị cảm ứng */
}

/* Điều chỉnh kiểu dáng bảng để phù hợp với các màn hình nhỏ */
.nz-table {
  min-width: 600px; /* Kích thước tối thiểu của bảng */
}
