.bg-custom{
  background-color: #c13341;
}

#header {
  z-index: 2;
}
/* .menu-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
.login-menu {
    margin-left: auto;
    margin-right: 60px;
}

.ms-auto {
  margin-left: auto;
} */