<nz-layout>
  <nz-sider nzCollapsible nzWidth="200px">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-submenu nzTitle="Khách sạn" nzIcon="table">
        <ul>
          <li nz-menu-item routerLink="/admin/room">Phòng</li>
          <li nz-menu-item routerLink="/admin/history">Nhân viên</li>
          <li nz-menu-item routerLink="/admin/bill">Hoá đơn</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Quản lí" nzIcon="team">
        <ul>
          <li nz-menu-item routerLink="/admin/company">Quản lí Doanh nghiệp</li>
          <li nz-menu-item routerLink="/admin/hotel">Quản lý Khách sạn</li>
          <li nz-menu-item routerLink="/admin/room-management">Quản lý phòng</li>
          <li nz-menu-item routerLink="/admin/staff">Quản lý Nhân viên</li>
        </ul>
      </li>
      <li nz-menu-item routerLink="/admin/chart">
        <span nz-icon nzType="pie-chart"></span>
        <span>Doanh thu</span>
      </li>
      <li nz-menu-item routerLink="/option2">
        <span nz-icon nzType="desktop"></span>
        <span>Option 2</span>
      </li>
      
      <li nz-menu-item routerLink="/file">
        <span nz-icon nzType="file"></span>
        <span>File</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-breadcrumb>
      <nz-breadcrumb-item *ngFor="let breadcrumb of breadcrumbs">
        <a [routerLink]="breadcrumb.url">{{ breadcrumb.label }}</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>PHHotel ©2024</nz-footer>
  </nz-layout>
</nz-layout>
  
  <!-- <app-room (showModal)="toggleModal(showModal)"></app-room> -->

