<div class="app-container">
  <!-- Sidebar -->
  <div class="sidebar">
      <ul nz-menu nzMode="inline">
          <li nz-menu-item>
              <i nz-icon nzType="inbox"></i>
              <span>Hộp thư đến</span>
          </li>
          <li nz-menu-item>
              <i nz-icon nzType="send"></i>
              <span>Gửi</span>
          </li>
      </ul>
  </div>

  <!-- Content Section -->
  <div class="content">
      <div class="compose-section">
          <app-email-compose></app-email-compose>
      </div>
      <div class="list-section">
          <app-email-list></app-email-list>
      </div>
  </div>
</div>
