.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: #f0f0f0;
  padding: 10px;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-x: auto; /* Allow horizontal scrolling for tables */
}

@media screen and (max-width: 768px) {
  .app-container {
      flex-direction: column;
  }

  .sidebar {
      width: 100%;
      order: 1; /* Sidebar at the top */
  }

  .content {
      width: 100%;
      order: 2; /* Content section below the sidebar */
      overflow-x: auto; /* Enable horizontal scrolling */
  }
}
