<div class="container my-4">
    <div class="product-list-container border-0 rounded-3 shadow-lg">
        <div class="header-logo-title d-flex align-items-center justify-content-center position-relative mb-5">
            <img src="../../../assets/phhotel2.PNG" alt="Hotel Logo" class="hotel-logo animated-logo">
            <h2 class="mx-3 text-uppercase text-gradient">PHHOTEL</h2>
            <div class="header-decoration"></div>
        </div>

        <ng-container *ngIf="(productService.products$ | async) as products">
            <div class="row g-4">
                <div class="col-12 col-md-6 col-lg-4" *ngFor="let product of (products | sortRooms: 'roomNumber')" (click)="onSelect(product.roomNumber)" [routerLink]="['/room', product.roomNumber]">
                    <div class="card product-card h-100 position-relative overflow-hidden">
                        <div class="product-image-wrapper position-relative">
                            <img src="{{product?.imageurls}}" class="card-img-top img-fluid product-image" alt="Room Image">
                            <div class="discount-badge">
                                <span>{{ product?.discount }}% OFF</span>
                            </div>
                            <div class="overlay">
                                <h4 class="text-white">{{product?.roomNumber}}</h4>
                            </div>
                        </div>
                        <div class="card-body text-center">
                            <h4 class="product-title">{{product?.roomNumber}}</h4>
                            <p class="product-description">{{product?.description}}</p>
                            <div class="price-container">
                                <p class="product-discounted-price">{{ product?.dailyRate | currency }}</p>
                                <p class="product-original-price">{{ 500000 | currency }}</p>
                            </div>
                        </div>
                        <div class="product-decoration"></div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>