<nz-card>
  <div class="table-container">
    <nz-table #hotelTable nzBordered [nzData]="listOfData">
      <thead>
        <tr>
          <th>Tên Khách Sạn</th>
          <th>Mã số thuế</th>
          <th>Địa chỉ</th>
          <th>Số điện thoại</th>
          <th>Email</th>
          <th>Tên Doanh nghiệp</th>
          <th>Phòng</th>
          <th>Nhân viên</th>
          <th>Hành Động</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hotel of hotelTable.data" class="editable-row">
          <td>
            {{ hotel.name }}
          </td>
          <td>
            {{ hotel.tax_code }}
          </td>
          <td>
            {{ hotel.address }}
          </td>
          <td>
            {{ hotel.contact.phone }}
          </td>
          <td>
            {{ hotel.contact.email }}
          </td>
          <td>
            <div *ngFor="let business of businesses">
              {{ business.name }}
            </div>
          </td>
          <td>
            <div *ngFor="let room of availableRooms">
              {{ room.roomNumber }}
            </div>
          </td>
          <td>
            <div *ngFor="let staff of availableStaffs">
              {{ staff.name }}
            </div>
          </td>
          <td>
            <button nz-button (click)="startEdit(hotel._id)" nzType="default" *ngIf="editId !== hotel._id">Sửa</button>
            <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteHotel(hotel._id)"
              *ngIf="editId !== hotel._id">Xoá</a>
            <nz-divider nzType="vertical"></nz-divider>
            <button nz-button (click)="stopEdit()" nzType="default" *ngIf="editId === hotel._id">Lưu</button>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <form nz-form [formGroup]="hotelForm" (ngSubmit)="selectedHotel ? updateHotel() : createHotel()">
      <nz-form-item>
        <nz-form-label [nzSpan]="24" [nzSm]="8">Tên Khách Sạn</nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập tên khách sạn" [nzSpan]="24" [nzSm]="16">
          <input placeholder="Nhập tên khách sạn" nz-input formControlName="name" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="24" [nzSm]="8">Mã số thuế</nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập mã số thuế" [nzSpan]="24" [nzSm]="16">
          <input placeholder="Nhập mã số thuế" nz-input formControlName="tax_code" type="number" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="24" [nzSm]="8">Địa chỉ</nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập địa chỉ" [nzSpan]="24" [nzSm]="16">
          <input placeholder="Nhập địa chỉ" nz-input formControlName="address" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item formGroupName="contact">
        <nz-form-label [nzSpan]="24" [nzSm]="8">Số điện thoại</nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập số điện thoại" [nzSpan]="24" [nzSm]="16">
          <input placeholder="Nhập số điện thoại" nz-input formControlName="phone" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item formGroupName="contact">
        <nz-form-label [nzSpan]="24" [nzSm]="8">Email</nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập địa chỉ email" [nzSpan]="24" [nzSm]="16">
          <input nz-input placeholder="Nhập địa chỉ email" nz-input formControlName="email" type="email" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="24" [nzSm]="8">Business ID</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzSm]="16">
          <nz-select formControlName="businessId" nzMode="multiple" nzPlaceHolder="Chọn khách sạn">
            <nz-option *ngFor="let data of businesses" [nzValue]="data._id" [nzLabel]="data.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="24" [nzSm]="8">Chọn phòng</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzSm]="16">
          <nz-select formControlName="rooms" nzMode="multiple" nzPlaceHolder="Chọn phòng">
            <nz-option *ngFor="let room of availableRooms" [nzValue]="room._id" [nzLabel]="room.roomNumber"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="24" [nzSm]="8">Chọn nhân viên</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzSm]="16">
          <nz-select formControlName="staff" nzMode="multiple" nzPlaceHolder="Chọn nhân viên">
            <nz-option *ngFor="let staff of availableStaffs" [nzValue]="staff._id" [nzLabel]="staff.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzSpan]="24" [nzOffset]="0">
          <button nz-button nzType="primary" type="submit">{{selectedHotel ? 'Cập Nhật Khách sạn' : 'Tạo Khách
            sạn'}}</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</nz-card>