<!-- <nz-card>
    <nz-table #hotelTable [nzData]="hotels" [nzBordered]="true" [nzScroll]="{ x: '100%' }">
      <thead>
        <tr>
          <th nzWidth="20%">Tên Khách Sạn</th>
          <th nzWidth="20%">Mã số thuế</th>
          <th nzWidth="20%">Địa chỉ</th>
          <th nzWidth="20%">Số điện thoại</th>
          <th nzWidth="20%">Email</th>
          <th nzWidth="20%">Hành Động</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hotel of hotelTable.data">
          <td>Nhà nghỉ Thanh Vy</td>
          <td>A1/15 phường Bình Hòa, Thuận An, Bình Dương</td>
          <td>101</td>
          <td>Phan Huy Hoang</td>
          <td>
            <a>Sửa</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a>Xoá</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  
    <nz-form [formGroup]="hotelForm" (ngSubmit)="onSubmitHotel()">
      <nz-form-item>
        <nz-form-label [nzSpan]="24" [nzSm]="8">Tên Khách Sạn</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzSm]="16">
          <input nz-input formControlName="name" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="24" [nzSm]="8">Mã số thuế</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzSm]="16">
          <input nz-input formControlName="tax_code" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="24" [nzSm]="8">Địa chỉ</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzSm]="16">
          <input nz-input formControlName="address"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="24" [nzSm]="8">Số điện thoại</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzSm]="16">
          <input nz-input formControlName="phone"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="24" [nzSm]="8">Email</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzSm]="16">
          <input nz-input formControlName="email" type="email" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzSpan]="24" [nzOffset]="0">
          <button nz-button nzType="primary" type="submit">Thêm Khách Sạn</button>
        </nz-form-control>
      </nz-form-item>
    </nz-form>
  </nz-card>
   -->

   <nz-card>
    <button nz-button (click)="addRow()" nzType="primary">Add</button>
    <br />
    <br />
    <div class="table-container">
      <nz-table #editRowTable nzBordered [nzData]="listOfData">
        <thead>
          <tr>
            <th>Tên Doanh Nghiệp</th>
            <th>Mã số thuế</th>
            <th>Địa chỉ</th>
            <th>Số điện thoại</th>
            <th>Email</th>
            <th>Hành Động</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of editRowTable.data" class="editable-row">
            <td>
              <div [hidden]="editId !== data.id" (click)="startEdit(data.id)">
                <input nz-input [(ngModel)]="data.name" (blur)="stopEdit()" />
              </div>
              <div [hidden]="editId === data.id" (click)="startEdit(data.id)">
                {{ data.name }}
              </div>
            </td>
            <td>
              <div [hidden]="editId !== data.id">
                <input nz-input [(ngModel)]="data.age" (blur)="stopEdit()" />
              </div>
              <div [hidden]="editId === data.id">
                {{ data.age }}
              </div>
            </td>
            <td>
              <div [hidden]="editId !== data.id">
                <input nz-input [(ngModel)]="data.address" (blur)="stopEdit()" />
              </div>
              <div [hidden]="editId === data.id">
                {{ data.address }}
              </div>
            </td>
            <td>
              <div [hidden]="editId !== data.id">
                <input nz-input [(ngModel)]="data.address" (blur)="stopEdit()" />
              </div>
              <div [hidden]="editId === data.id">
                {{ data.address }}
              </div>
            </td>
            <td>
              <div [hidden]="editId !== data.id">
                <input nz-input [(ngModel)]="data.address" (blur)="stopEdit()" />
              </div>
              <div [hidden]="editId === data.id">
                {{ data.address }}
              </div>
            </td>
            <td>
              <button nz-button (click)="startEdit(data.id)" nzType="default" *ngIf="editId !== data.id">Edit</button>
              <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow(data.id)" *ngIf="editId !== data.id">Delete</a>
              <button nz-button (click)="stopEdit()" nzType="default" *ngIf="editId === data.id">Save</button>
            </td>
          </tr>
        </tbody>
      </nz-table>
      <nz-form [formGroup]="hotelForm" (ngSubmit)="onSubmitHotel()">
        <nz-form-item>
          <nz-form-label [nzSpan]="24" [nzSm]="8">Tên Doanh Nghiệp</nz-form-label>
          <nz-form-control [nzSpan]="24" [nzSm]="16">
            <input nz-input formControlName="name" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="24" [nzSm]="8">Mã số thuế</nz-form-label>
          <nz-form-control [nzSpan]="24" [nzSm]="16">
            <input nz-input formControlName="tax_code" type="number"/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="24" [nzSm]="8">Địa chỉ</nz-form-label>
          <nz-form-control [nzSpan]="24" [nzSm]="16">
            <input nz-input formControlName="address" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="24" [nzSm]="8">Số điện thoại</nz-form-label>
          <nz-form-control [nzSpan]="24" [nzSm]="16">
            <input nz-input formControlName="phone" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="24" [nzSm]="8">Email</nz-form-label>
          <nz-form-control [nzSpan]="24" [nzSm]="16">
            <input nz-input formControlName="email" type="email"/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control [nzSpan]="24" [nzOffset]="0">
            <button nz-button nzType="primary" type="submit">Tạo Doanh Nghiệp</button>
          </nz-form-control>
        </nz-form-item>
      </nz-form>
    </div>
  </nz-card>