.calendar-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 10px;
}

.month-year {
  font-size: 1.5em;
  font-weight: bold;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.day-header, .calendar-day {
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.calendar-day {
  cursor: pointer;
  min-height: 80px;
  position: relative;
}

.calendar-day.today {
  background-color: #f0f0f0;
}

.calendar-day.selected {
  background-color: #007bff;
  color: #fff;
}

.date {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.booking-info {
  font-size: 0.8em;
  margin-top: 5px;
  text-align: left;
}

.booking-info-detail {
  margin-top: 20px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-status {
  display: flex;
  align-items: center;
}

.card-status .status-booked {
  color: green;
}

.card-status .status-cancelled {
  color: red;
}

@media (max-width: 768px) {
  .calendar-header {
    flex-direction: column;
  }

  .month-year {
    margin: 10px 0;
  }

  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }

  .calendar-day {
    min-height: 100px;
  }

  .booking-info {
    font-size: 0.7em;
  }
}

@media (max-width: 480px) {
  .calendar-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .calendar-day {
    min-height: 120px;
  }

  .day-header {
    display: none; /* Ẩn tiêu đề ngày khi ở chế độ cột */
  }

  .booking-info {
    font-size: 0.7em;
  }

  .calendar-header {
    padding: 0 5px;
  }

  .calendar-day {
    padding: 8px;
  }

  .month-year {
    font-size: 1.2em;
  }

  .date {
    font-size: 1em;
  }
}
