<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center mb-4">Đăng nhập tài khoản</h5>
          <form (ngSubmit)="login()">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="email" placeholder="name@example.com" [(ngModel)]="email"
                name="email" required>
              <label for="email">Email</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="password"
                name="password" required>
              <label for="password">Mật khẩu</label>
              <a href="#" class="link-primary float-end">Quên mật khẩu?</a>
            </div>
            <button type="submit" class="btn btn-lg btn-primary mt-3 w-100">Đăng nhập</button>
          </form>
          <div class=" social-login">
            <p>Or login with:</p>
            <button class="btn btn-light social-btn">
              <i class="fab fa-google"></i>
            </button>
            <button class="btn btn-light social-btn">
              <i class="fab fa-twitter"></i>
            </button>
          </div>
          <hr>
          <p class="text-center">Chưa có tài khoản đăng ký? <a [routerLink]="['/signup']">Tại đây</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="form-container">
  <p class="title">Login</p>
  <form class="form">
    <div class="input-group">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" placeholder="">
    </div>
    <div class="input-group">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" placeholder="">
      <div class="forgot">
        <a rel="noopener noreferrer" href="#">Forgot Password ?</a>
      </div>
    </div>
    <button class="sign">Sign in</button>
  </form>
  <div class="social-message">
    <div class="line"></div>
    <p class="message">Login with social accounts</p>
    <div class="line"></div>
  </div>
  <div class="social-icons">
    <button class="icon">
      <i class="fab fa-google"></i>
    </button>
    <button class="icon">
      <i class="fab fa-twitter"></i>
    </button>
  </div>
  <p class="signup">Don't have an account?
    <a href="#" class="">Sign up</a>
  </p>
</div> -->