<nz-card>
  <div class="table-container">
    <nz-table #staffTable [nzData]="staffs" [nzBordered]="true">
      <thead>
        <tr>
          <th>Name</th>
          <th>Location</th>
          <th>Phone Number</th>
          <th>Email</th>
          <th>Work day</th>
          <th>Shift</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let staff of staffTable.data">
          <td>
              {{ staff.name }}           
          </td>
          <td>
              {{ staff.position }}
          </td>
          <td>
              {{ staff.contact.phone }}
          </td>
          <td>
              {{ staff.contact.email }}
          </td>
          <td>
              {{ staff.schedule.day |  date: 'dd/MM/yyyy'}}
          </td>
          <td>
              {{ staff.schedule.shift}}
          </td>
          <td>
            <button nz-button nzShape="round" (click)="startEdit(staff._id)" nzType="default" *ngIf="editId !== staff._id">
              <i nz-icon nzType="edit"></i>Edit
            </button>
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteStaff(staff._id)"
              *ngIf="editId !== staff._id">
              <button nz-button nzShape="round" nzType="text" [nzDanger]="true">
                <i nz-icon nzType="delete"></i>Delete
              </button>
            </a>
            <button nz-button nzShape="round" (click)="stopEdit()" nzType="default" *ngIf="editId === staff._id">
              <i nz-icon nzType="save"></i>Cancel
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <form nz-form [formGroup]="staffForm" (ngSubmit)="selectedStaff ? updateStaff() : createStaff()">
      <nz-form-item>
        <nz-form-label [nzSpan]="24" [nzSm]="8">Staff Name</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzSm]="16" nzErrorTip="Please enter the staff's name">
          <input placeholder="Enter the staff's name" nz-input formControlName="name" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="24" [nzSm]="8">Position</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzSm]="16" nzErrorTip="Please enter a position">
          <input nz-input formControlName="position" placeholder="Enter a position" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item formGroupName="contact">
        <nz-form-label [nzSpan]="24" [nzSm]="8">Phone Number</nz-form-label>
        <nz-form-control  [nzSpan]="24" [nzSm]="16" nzErrorTip="Please enter a phone number">
          <input nz-input formControlName="phone" placeholder="Enter a phone number" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item formGroupName="contact">
        <nz-form-label [nzSpan]="24" [nzSm]="8">Email</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzSm]="16" nzErrorTip="Please enter an email">
          <input nz-input formControlName="email" type="email" placeholder="Enter an email" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item formGroupName="schedule">
        <nz-form-label [nzSpan]="24" [nzSm]="8">Work day</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzSm]="16" nzErrorTip="Please enter a work day">
          <input nz-input formControlName="day"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item formGroupName="schedule">
        <nz-form-label [nzSpan]="24" [nzSm]="8">Shift</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzSm]="16" nzErrorTip="Please shift entry">
          <input nz-input formControlName="shift" placeholder="Shift Entry" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzSpan]="24" [nzOffset]="0">
          <button nz-button nzType="primary" type="submit">
            {{ selectedStaff ? 'Update' : 'Create a staff' }}
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</nz-card>
  
