<nz-card>
  <div class="table-container">
    <nz-table #staffTable [nzData]="staffs" [nzBordered]="true">
      <thead>
        <tr>
          <th>Tên</th>
          <th>Vị trí</th>
          <th>Số điện thoại</th>
          <th>Email</th>
          <th>Ngày làm việc</th>
          <th>Ca làm việc</th>
          <th>Hành động</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let staff of staffTable.data">
          <td>
              {{ staff.name }}           
          </td>
          <td>
              {{ staff.position }}
          </td>
          <td>
              {{ staff.contact.phone }}
          </td>
          <td>
              {{ staff.contact.email }}
          </td>
          <td>
              {{ staff.schedule.day |  date: 'dd/MM/yyyy'}}
          </td>
          <td>
              {{ staff.schedule.shift}}
          </td>
          <td>
            <button nz-button nzShape="round" (click)="startEdit(staff._id)" nzType="default" *ngIf="editId !== staff._id">
              <i nz-icon nzType="edit"></i>Sửa
            </button>
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteStaff(staff._id)"
              *ngIf="editId !== staff._id">
              <button nz-button nzShape="round" nzType="text" [nzDanger]="true">
                <i nz-icon nzType="delete"></i>Xoá
              </button>
            </a>
            <button nz-button nzShape="round" (click)="stopEdit()" nzType="default" *ngIf="editId === staff._id">
              <i nz-icon nzType="save"></i>Hủy
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <form nz-form [formGroup]="staffForm" (ngSubmit)="selectedStaff ? updateStaff() : createStaff()">
      <nz-form-item>
        <nz-form-label [nzSpan]="24" [nzSm]="8">Tên nhân viên</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzSm]="16" nzErrorTip="Vui lòng nhập tên nhân viên">
          <input placeholder="Nhập tên nhân viên" nz-input formControlName="name" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="24" [nzSm]="8">Vị trí</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzSm]="16" nzErrorTip="Vui lòng nhập vị trí">
          <input nz-input formControlName="position" placeholder="Nhập vị trí" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item formGroupName="contact">
        <nz-form-label [nzSpan]="24" [nzSm]="8">Số điện thoại</nz-form-label>
        <nz-form-control  [nzSpan]="24" [nzSm]="16" nzErrorTip="Vui lòng nhập số điện thoại">
          <input nz-input formControlName="phone" placeholder="Nhập số điện thoại" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item formGroupName="contact">
        <nz-form-label [nzSpan]="24" [nzSm]="8">Email</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzSm]="16" nzErrorTip="Vui lòng nhập email">
          <input nz-input formControlName="email" type="email" placeholder="Nhập email" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item formGroupName="schedule">
        <nz-form-label [nzSpan]="24" [nzSm]="8">Ngày làm việc</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzSm]="16" nzErrorTip="Vui lòng nhập ngày làm việc">
          <input nz-input formControlName="day" type="date" placeholder="Nhập ngày làm việc" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item formGroupName="schedule">
        <nz-form-label [nzSpan]="24" [nzSm]="8">Ca làm việc</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzSm]="16" nzErrorTip="Vui lòng nhập ca làm việc">
          <input nz-input formControlName="shift" placeholder="Nhập ca làm việc" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzSpan]="24" [nzOffset]="0">
          <button nz-button nzType="primary" type="submit">
            {{ selectedStaff ? 'Cập nhật' : 'Tạo Nhân Viên' }}
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</nz-card>
  
