<!-- sidebar.component.html -->
<!-- <nav id="sidebar" class="bg-light pt-5">
    <div class="sidebar-header">
        <h3>My Sidebar</h3>
    </div>

    <ul class="list-unstyled">
        <li class="active">
            <a href="#">
                <i class="fas fa-tachometer-alt fa-fw me-3"></i>Main dashboard
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-chart-area fa-fw me-3"></i>Website traffic
            </a>
        </li>
    </ul>
    
</nav> -->

    <button nz-button nzType="primary" (click)="toggleCollapsed()" title="Thu gọn/Mở rộng sidebar">
       <span nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
     </button>
     <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
       <li
         nz-menu-item
         nz-tooltip
         nzTooltipPlacement="right"
         [nzTooltipTitle]="isCollapsed ? 'Trang chủ' : ''"
         nzSelected
         routerLink="/home"
       >
         <span nz-icon nzType="home"></span>
         <span>Trang chủ</span>
       </li>
       <li
         nz-menu-item
         nz-tooltip
         nzTooltipPlacement="right"
         [nzTooltipTitle]="isCollapsed ? 'Đăng ký doanh nghiệp' : ''"
         routerLink="/business-signup"
       >
         <span nz-icon nzType="shop"></span>
         <span>Đăng ký doanh nghiệp</span>
       </li>
       <li nz-submenu nzTitle="Tài khoản" nzIcon="user">
         <ul>
           <li nz-menu-item routerLink="/login">Đăng nhập</li>
           <li nz-menu-item routerLink="/signup">Đăng ký</li>
         </ul>
       </li>
       <li nz-submenu nzTitle="Quản lý" nzIcon="setting">
         <ul>
           <li nz-menu-item routerLink="/admin/company">Quản lý doanh nghiệp</li>
           <li nz-menu-item routerLink="/admin/hotel">Quản lý khách sạn</li>
           <li nz-menu-item routerLink="/admin/room-management">Quản lý phòng</li>
           <li nz-menu-item routerLink="/service-management">
             <i nz-icon nzType="coffee" nzTheme="outline"></i>
             <span>Quản lý dịch vụ</span>
           </li>
         </ul>
       </li>
     </ul>

