<nz-card>
  <div class="table-container">
    <nz-table #roomTable nzBordered [nzData]="rooms">
      <thead>
        <tr>
          <th>Số Phòng</th>
          <th>Loại Phòng</th>
          <th>Giá theo giờ</th>
          <th>Giá qua đêm</th>
          <th>Giá ngày đêm</th>
          <th>Số người</th>
          <th>Hành động</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let room of rooms" class="editable-row">
          <td>{{ room.roomNumber }}</td>
          <td>{{ room.roomType }}</td>
          <td>{{ room.hourlyRate }}</td>
          <td>{{ room.nightlyRate }}</td>
          <td>{{ room.dailyRate }}</td>
          <td>{{ room.maxcount }}</td>
          <td>
            <button nz-button (click)="startEdit(room._id)" nzType="default" *ngIf="editId !== room._id">Sửa</button>
            <a nz-popconfirm nzPopconfirmTitle="Chắc chắn xoá?" (nzOnConfirm)="deleteRoom(room._id)" *ngIf="editId !== room._id">Xoá</a>
            <nz-divider nzType="vertical"></nz-divider>
            <button nz-button (click)="updateRoom()" nzType="default" *ngIf="editId === room._id">Lưu</button>
            <button nz-button (click)="stopEdit()" nzType="default" *ngIf="editId === room._id">Huỷ</button>
          </td>
        </tr>
      </tbody>
    </nz-table>

    <!-- Form to Create or Update Room -->
    <form nz-form [formGroup]="roomForm" (ngSubmit)="selectedRoom ? updateRoom() : createRoom()">
      <nz-form-item>
        <nz-form-label [nzSpan]="24" [nzSm]="8">Tên Khách sạn</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzSm]="16">
          <nz-select formControlName="hotelId" nzMode="multiple" nzPlaceHolder="Chọn Khách sạn">
            <nz-option *ngFor="let hotel of hotels" [nzValue]="hotel._id" [nzLabel]="hotel.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="24" [nzSm]="8">Số Phòng</nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập số phòng" [nzSpan]="24" [nzSm]="16">
          <input placeholder="Nhập số phòng" nz-input formControlName="roomNumber" type="number" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="24" [nzSm]="8">Loại Phòng</nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập loại phòng" [nzSpan]="24" [nzSm]="16">
          <input placeholder="Nhập loại phòng" nz-input formControlName="roomType" />
        </nz-form-control>
      </nz-form-item>


      <nz-form-item>
        <nz-form-label [nzSpan]="24" [nzSm]="8">Giá theo giờ</nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập giá theo giờ" [nzSpan]="24" [nzSm]="16">
          <input placeholder="Nhập giá theo giờ" nz-input formControlName="hourlyRate" type="number" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="24" [nzSm]="8">Giá qua đêm</nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập giá qua đêm" [nzSpan]="24" [nzSm]="16">
          <input placeholder="Nhập giá qua đêm" nz-input formControlName="nightlyRate" type="number" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="24" [nzSm]="8">Giá ngày đêm</nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập giá ngày đêm" [nzSpan]="24" [nzSm]="16">
          <input placeholder="Nhập giá ngày đêm" nz-input formControlName="dailyRate" type="number" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="24" [nzSm]="8">Số người tối đa</nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập số người tối đa" [nzSpan]="24" [nzSm]="16">
          <input placeholder="Nhập số người tối đa" nz-input formControlName="maxcount" type="number" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="24" [nzSm]="8">Mô tả</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzSm]="16">
          <input placeholder="Nhập mô tả" nz-input formControlName="description" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control [nzSpan]="24" [nzOffset]="0">
          <button nz-button nzType="primary" type="submit">{{selectedRoom ? 'Cập Nhật Phòng' : 'Tạo Phòng'}}</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</nz-card>
