.scroll-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* Cuộn mượt mà trên iOS */
}

.card-form-container {
  display: flex;
  flex-wrap: nowrap; /* Ngăn chặn wrapping, cho phép cuộn ngang */
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  /* min-width: 600px;  */
}

.card-container {
  flex: 1 1 50%;
  max-width: 500px;
  perspective: 1000px;
  margin: 0 auto; /* Căn giữa thẻ trong container */
}

.card-front, .card-back {
  width: 300px; /* Kích thước cố định của thẻ */
  height: 180px; /* Kích thước cố định của thẻ */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform .6s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.card-front {
  transform: rotateY(0deg);
  position: relative;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  background-image: url('../../../assets/images/bg.png');
}

.card-back {
  width: 300px;
  height: 180px;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  background-color: #333;
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  background-image: url('../../../assets/images/bg.png');
  position: relative;
}

.card-container:hover .card-front {
  transform: rotateY(180deg);
}

.card-container:hover .card-back {
  transform: rotateY(0deg);
}

.payment-form-container {
  flex: 1 1 50%;
  max-width: 500px;
  margin: 0 auto; /* Căn giữa form trong container */
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 30px; /* Chiều cao cố định cho header để chứa chip và logo */
}

.chip {
  position: absolute;
  top: 0;
  left: 10px;
  width: 50px;
  height: 30px;
  background-color: #ccc;
  border-radius: 3px;
}

.visa-logo {
  position: absolute;
  top: 0;
  right: 10px;
  width: 50px;
  height: 30px;
  object-fit: contain; /* Giữ nguyên tỷ lệ của logo */
  background-color: white; /* Đảm bảo logo có nền trắng */
  padding: 2px; /* Thêm khoảng cách xung quanh logo */
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Căn giữa nội dung thẻ */
  align-items: center;
  height: calc(100% - 30px); /* Trừ chiều cao của header ra */
  position: relative;
  padding-top: 10px; /* Thêm khoảng cách phía trên để không bị chèn với header */
}

.card-number {
  font-family: 'Arial Bold', sans-serif;
  font-size: 20px;
  color: #fff;
  text-align: center; /* Căn giữa số thẻ */
}

.card-bottom {
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.card-expiry-container, .card-expiry{
  padding-right: 20px;
}

.card-holder-container, .card-expiry-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-holder-container .form-label, .card-expiry-container .form-label {
  font-size: 12px;
  color: #fff;
  margin-bottom: 5px;
  font-weight: bold;
}

.stripe {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: #000;
}

.cvv-container {
  display: flex;
  align-items: center;
  height: calc(100% - 30px); /* Adjust for height minus the stripe */
  position: relative;
  padding-top: 30px; /* Ensure space for stripe */
}

.cvv-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3); /* 1/3 of the width of the stripe */
  height: 30px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
}

.cvv {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.cvv-label {
  position: absolute;
  left: calc(100% + 10px); /* Position to the right of cvv-box */
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .card-form-container {

      flex-direction: column; /* Sắp xếp theo cột */
      align-items: center;
  }

  .card-container,
  .payment-form-container {
      width: 100%; /* Đảm bảo cả thẻ và form chiếm 100% chiều rộng */
      height: auto;
  }
}

/* Xử lý khi ở màn hình nhỏ hơn 480px */
@media screen and (max-width: 480px) {
  .card-container,
  .payment-form-container {
    max-width: 100%; /* Đảm bảo cả thẻ và form chiếm 100% chiều rộng */
    height: auto;
  }

  .card-container {
      margin-bottom: 20px; /* Tạo khoảng cách giữa thẻ và form */
  }
}